<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-smadp-device" version="0.0.3">
    <name>SLDevice</name>
    <DESCRIPTION>Silverlake Mobility Ecosystem Device Plugin</DESCRIPTION>
    <js-module name="SLDevice" src="www/SLDevice.js">
        <clobbers target="SMADP.Device" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SLDevice">
                <param name="ios-package" value="SLDevice" />
            </feature>
        </config-file>
        <source-file src="src/ios/SLDevice.m" />
        
        <header-file src="src/ios/FCUUID/FCUUID.h" />
        <source-file src="src/ios/FCUUID/FCUUID.m" />
        <header-file src="src/ios/FCUUID/UICKeyChainStore.h" />
        <source-file src="src/ios/FCUUID/UICKeyChainStore.m" />
        
        <framework src="Security.framework" />
    </platform>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SLDevice" >
                <param name="android-package" value="com.silverlake.plugin.SLDevice"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        
        <source-file src="src/android/SLDevice.java" target-dir="src/com/silverlake/plugin" />
        <resource-file src="src/android/libs/ASDK_Common-2.0.1.aar" target="libs/ASDK_Common-2.0.1.aar" />
    </platform>
</plugin>